.appeal {
    width: 100%;
    background-color: #2A313C;
}

.hero2-img {
    /* width: 596px;
    height: 695px; */
}

.gallery-list {
    margin-top: 55px;
}

.gallery-item {
    width: 196px;
    height: 125px;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}