@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.88) 51.5%, #57B8FF 48.5%);
}

/* TYPOGRAPHY */
.title {
  font-size: 24px;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}

.subtitle {
  color: #57B8FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 8px;
}

.h3-subtitle {
  width: 607px;
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-transform: capitalize;
}

.h4-subtitle {
  color: #FFF;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-transform: capitalize;
}

.h3-date {
  color: #57B8FF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.h4-date {
  color: #57B8FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.description {
  color: #999;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-top: 45px;
}

.wrapper {
  width: 340px;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  display: none;
  width: 178px;
  height: 62px;
}

.notfound_404 {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  padding: 0px 23px 0px 0px;
  font-size: 24px;
  font-weight: 500;
  vertical-align: top;
  line-height: 49px;
  border-right: 1px solid black;
}

@media (min-width: 640px) {
  .wrapper {
    width: 640px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .btn {
    display: block;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 1024px;
  }

  .title {
    line-height: 86px;
    font-size: 72px;
  }

  .description {
    font-size: 18px;
    line-height: 28px;
    margin-top: 45px;
  }
}

@media (min-width: 1320px) {
  .wrapper {
    width: 1320px;
  }

  .title {
    width: 656px;
  }

  .description {
    width: 615px;
  }
}