.header {
    width: 1320px;
    height: 62px;
    margin: 0 auto;
}

.nav {
    display: none;
    color: #141820;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.nav-li {
    margin-right: 6px;
}


.cart-icon {
    margin-right: 40px;
}

.cart-icon-elem {
    top: 5px;
    right: -20px;
    width: 21px;
    height: 18px;
    border-radius: 9px;
    background: #FFF;
}

.cart-icon-data {
    color: #141820;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }
}

@media (min-width: 1024px) {
    .nav-li {
        margin-right: 60px;
    }
}