.hero {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.88) 51.5%, #57B8FF 48.5%);
    padding: 227px 35px 250px 0;
}

.hero-content {
    /* height: 528px; */
    margin: auto 0;
    padding-left: 35px;
}

.img-container {
    width: 660px;
    height: 518px;
}

.hero-img {
    width: 660px;
    height: 518px;
    flex-shrink: 0;
}

.social-nav {
    width: 20px;
    height: 100%;
}

.social-nav-link {
    transform: rotate(-90deg);
    position: absolute;
    font-size: 11px;
    color: #80858F;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}